.columnTitle{
    svg {
        font-size: 22px;
        color: #fff;
    }
    .columnTitle{
        font-size: 22px;
        color: #fff;
        font-weight: bold;
        line-height: 22px;
        margin-bottom: 1px;
    }
}