.menu {
  width: 250px;
  height: 100%;
  padding: 12px 10px;
  margin-right: 10px;
  border-radius: 12px; // 圆角
  overflow: hidden; // 超出隐藏
  background-color: #e2e6eb22; // 背景色
  box-shadow: -10px -10px 15px #f5f9fd, 10px 10px 15px #d8dbe5;
  transition: all 0.2s linear;

  .logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden; // 超出隐藏
    background-color: #e2e6eb22; // 背景色
    box-shadow: -10px -10px 15px #f5f9fd, 10px 10px 15px #d8dbe5;
  }

  .logoText {
    margin: 0 0 0 6px;
    padding: 0;
    text-decoration: none;
    font-size: 36px;
    letter-spacing: 1px;
    line-height: 1;
    color: #fb7299;
    overflow: hidden;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #fb729933);
  }

  .menuItem {
    width: 166px;
    height: 50px;
    text-align: center;
    line-height: 1;
    border-radius: 12px;
    margin: 0 14px 10px;
    box-shadow: inset 8px 8px 6px #d9dce6,
    inset -5px -5px 15px #f5f9fd,
    inset -5px -5px 15px #f5f9fd,
    inset 7px 7px 6px #d9dce6;
    overflow: hidden;
    transition: all 0.2s linear;

    .menuText {
      color: #03010e;
      overflow: hidden;
      transition: all 0.2s linear;
      .icon {
        width: 50px;
        height: 50px;
        line-height: 50px;
        display: block;
        object-fit: cover;
        flex-shrink: 0;
      }
      .text{
        width: 70px;
        line-height: 50px;
        height: 50px;
      }
    }

    .active {
      color: #fb7299;
      overflow: hidden;
      transition: all 0.2s linear;
      -webkit-box-reflect: below 1px linear-gradient(transparent, #fb729933);
    }
  }
  .menuActive{
    box-shadow: inset 8px 8px 6px #fb7299,
    inset -5px -5px 15px #fb7299,
    inset -5px -5px 15px #fb7299,
    inset 7px 7px 6px #fb7299;
  }
}
.unflod{
  width: 104px;
  transition: all 0.2s linear;
  .menuItem{
    width: 50px;
    transition: all 0.2s linear;
  }
}
