.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 62px;

  .left {
    position: fixed;
    left: -200px;
    bottom: 0;
    height: calc(100vh - 60px);
    width: 200px;
    backdrop-filter: saturate(150%) contrast(50%) blur(2px);
    -webkit-backdrop-filter: saturate(150%) contrast(50%) blur(2px);
    background-color: rgba(255, 255, 255, .5);
    z-index: 5;

    .leftList {
      height: 100%;
      overflow-y: scroll;

      .leftBox {
        margin-top: 10px;
        .leftEdit {
          height: 20px;
          font-size: 12px;
          padding: 0 5px;
          background-color: var(--warning);
          color: #FFFFFF;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
          line-height: 20px;
          text-align: center;
        }
        .leftEdit:hover{
          background-color: #fff;
          color: var(--warning);
        }

        .leftDel {
          padding: 0 5px;
          height: 20px;
          font-size: 12px;
          background-color: var(--danger);
          color: #FFFFFF;
          line-height: 20px;
          text-align: center;
          margin-left: auto;
          margin-right: 25px;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
        }
        .leftDel:hover{
          background-color: #fff;
          color: var(--danger);
        }
        .leftItem {
          width: 160px;
          height: 36px;
          color: #FFFFFF;
          clip-path: polygon(
                          0 0,
                          25px 50%,
                          0 100%,
                          calc(100% - 25px) 100%,
                          100% 50%,
                          calc(100% - 25px) 0
          );
          backdrop-filter: saturate(150%) contrast(50%) blur(2px);
          -webkit-backdrop-filter: saturate(150%) contrast(50%) blur(2px);
          background-color: rgba(251, 114, 153);
        }


        .leftItem:hover {
          background: #FFFFFF;
          color: #fb7299;
        }

        a:first-child > .leftItem {
          margin-top: 0;
        }


      }

      .addLItem {
        width: 160px;
        height: 36px;
        color: #fb7299;
        clip-path: polygon(
                        0 0,
                        25px 50%,
                        0 100%,
                        calc(100% - 25px) 100%,
                        100% 50%,
                        calc(100% - 25px) 0
        );
        backdrop-filter: saturate(150%) contrast(50%) blur(2px);
        -webkit-backdrop-filter: saturate(150%) contrast(50%) blur(2px);
        background-color: #fff;
      }

      .addLItem:hover {
        background: #fb7299;
        color: #FFFFFF;
      }


    }

    .leftbtn {
      position: absolute;
      top: 50%;
      right: -63px;
      transform: translateY(-40px) rotate(90deg);

      .btn {
        height: 36px;
        width: 90px;
        padding: 0 8px;
        color: #fb7299;
        font-weight: 600;
        backdrop-filter: saturate(150%) contrast(50%) blur(2px);
        -webkit-backdrop-filter: saturate(150%) contrast(50%) blur(2px);
        background-color: rgba(210, 210, 210, .8);
        border-radius: 12px 12px 0 0;

        p {
          transform: rotate(-90deg)
        }

        &::before {
          content: "";
          position: absolute;
          width: 20px;
          height: 20px;
          left: -20px;
          bottom: 0;
          backdrop-filter: saturate(150%) contrast(50%) blur(2px);
          -webkit-backdrop-filter: saturate(150%) contrast(50%) blur(2px);
          background: radial-gradient(circle at 0 0, transparent 20px, rgba(210, 210, 210, .8) 21px);
        }

        &::after {
          content: "";
          position: absolute;
          width: 20px;
          height: 20px;
          right: -20px;
          bottom: 0;
          backdrop-filter: saturate(150%) contrast(50%) blur(2px);
          -webkit-backdrop-filter: saturate(150%) contrast(50%) blur(2px);
          background: radial-gradient(circle at 100% 0, transparent 20px, rgba(210, 210, 210, .8) 21px);
        }
      }
    }
  }

  .manage {
    position: absolute;
    top: 8px;
    left: 45px;
    width: 110px;
    height: 6px;
    border-radius: 50px;
    backdrop-filter: saturate(150%) contrast(50%) blur(2px);
    -webkit-backdrop-filter: saturate(150%) contrast(50%) blur(2px);
    background-color: #ababab66;
  }

  .manage:hover {
    background-color: #f1f1f1;
  }

  .leftOpen {
    animation: leftWidthOpen linear .3s both;
    @keyframes leftWidthOpen {
      from {
        left: -200px;
      }
      to {
        left: 0;
      }
    }
  }

  .leftClose {
    animation: leftWidthClose linear .3s both;
    @keyframes leftWidthClose {
      from {
        left: 0;
      }
      to {
        left: -200px;
      }
    }
  }

  .right {
    position: fixed;
    right: -200px;
    bottom: 0;
    height: calc(100vh - 60px);
    width: 200px;
    backdrop-filter: saturate(150%) contrast(50%) blur(2px);
    -webkit-backdrop-filter: saturate(150%) contrast(50%) blur(2px);
    background-color: rgba(255, 255, 255, .5);
    z-index: 5;

    .rightList {
      height: 100%;
      overflow-y: scroll;
      .rightBox {
        margin-top: 10px;
        .rightEdit {
          height: 20px;
          font-size: 12px;
          padding: 0 5px;
          background-color: var(--warning);
          color: #FFFFFF;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
          line-height: 20px;
          text-align: center;
          margin-left: auto;
        }
        .rightEdit:hover{
          background-color: #fff;
          color: var(--warning);
        }

        .rightDel {
          padding: 0 5px;
          height: 20px;
          font-size: 12px;
          background-color: var(--danger);
          color: #FFFFFF;
          line-height: 20px;
          text-align: center;
          margin-left: 25px;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
        }
        .rightDel:hover{
          background-color: #fff;
          color: var(--danger);
        }

        .rightItem {
          width: 160px;
          height: 36px;
          color: #FFFFFF;
          clip-path: polygon(25px 0, 100% 0, calc(100% - 25px) 50%, 100% 100%, 25px 100%, 0 50%);
          backdrop-filter: saturate(150%) contrast(50%) blur(2px);
          -webkit-backdrop-filter: saturate(150%) contrast(50%) blur(2px);
          background-color: rgba(251, 114, 153);
          box-shadow: 0 2px 2px #fb729966;
        }


        .rightItem:hover {
          background: #FFFFFF;
          color: #fb7299;
        }

        a:first-child > .rightItem {
          margin-top: 0;
        }


      }

      .addRItem {
        margin-top: 10px;
        width: 160px;
        height: 36px;
        color: #fb7299;
        clip-path: polygon(25px 0, 100% 0, calc(100% - 25px) 50%, 100% 100%, 25px 100%, 0 50%);
        backdrop-filter: saturate(150%) contrast(50%) blur(2px);
        -webkit-backdrop-filter: saturate(150%) contrast(50%) blur(2px);
        box-shadow: 0 2px 2px #fb729966;
        background-color: #fff;
      }

      .addRItem:hover {
        background: #fb7299;
        color: #FFFFFF;
      }
    }

    .rightbtn {
      position: absolute;
      top: 50%;
      left: -63px;
      transform: translateY(-40px) rotate(-90deg);

      .btn {
        height: 36px;
        width: 90px;
        padding: 0 8px;
        color: #fb7299;
        font-weight: 600;
        backdrop-filter: saturate(150%) contrast(50%) blur(2px);
        -webkit-backdrop-filter: saturate(150%) contrast(50%) blur(2px);
        background-color: rgba(210, 210, 210, .8);
        border-radius: 12px 12px 0 0;
        border-color: #FFFFFF;

        p {
          transform: rotate(90deg)
        }

        &::before {
          content: "";
          position: absolute;
          width: 20px;
          height: 20px;
          left: -20px;
          bottom: 0;
          backdrop-filter: saturate(150%) contrast(50%) blur(2px);
          -webkit-backdrop-filter: saturate(150%) contrast(50%) blur(2px);
          background: radial-gradient(circle at 0 0, transparent 20px, rgba(210, 210, 210, .8) 21px);
        }

        &::after {
          content: "";
          position: absolute;
          width: 20px;
          height: 20px;
          right: -20px;
          bottom: 0;
          backdrop-filter: saturate(150%) contrast(50%) blur(2px);
          -webkit-backdrop-filter: saturate(150%) contrast(50%) blur(2px);
          background: radial-gradient(circle at 100% 0, transparent 20px, rgba(210, 210, 210, .8) 21px);
        }
      }

    }
  }

  .rightOpen {
    animation: rightWidthOpen linear .3s both;
    @keyframes rightWidthOpen {
      from {
        right: -200px;
      }
      to {
        right: 0;
      }
    }
  }

  .rightClose {
    animation: rightWidthClose linear .3s both;
    @keyframes rightWidthClose {
      from {
        right: 0;
      }
      to {
        right: -200px;
      }
    }
  }

  .home {
    height: calc(100vh - 296px);
  }

  .other {
    height: calc(100vh - 204px);
  }

  .content {
    margin-top: 12px;
    width: 1305px;
    background-color: #fFF;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: saturate(150%) contrast(50%) blur(2px);
    -webkit-backdrop-filter: saturate(150%) contrast(50%) blur(2px);
    background-color: rgba(255, 255, 255, .5);

    .list {
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }
  }

  .search {
    width: 785px;
    margin-top: 12px;
    height: 80px;
    background-color: #fFF;
    padding: 17.5px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: saturate(150%) contrast(50%) blur(2px);
    -webkit-backdrop-filter: saturate(150%) contrast(50%) blur(2px);
    background-color: rgba(255, 255, 255, .5);

    .formItem {
      height: 45px;

      .group {
        position: relative;
      }

      .input {
        background: #FFFFFF55;
        border-radius: 25px;
        height: 45px;
        line-height: 45px;
        padding: 0 20px;
        caret-color: #fb7299;
        color: #fb7299;
        font-size: 20px;
      }

      .btn {
        position: absolute;
        top: 2px;
        right: 2px;
        z-index: 5;
        height: 41px;
        border-radius: 25px;
        background: #fb7299;
        padding: 0 30px;
        border-color: #fff;
      }

      .input:hover,
      .input:focus {
        background: #FFFFFF;
        border-color: #fb7299;
        box-shadow: 0 2px 2px #fb729966;
      }

      .btn:hover {
        color: #fb7299 !important;
        background: #fff;
        border-color: #fb7299;
      }
    }
  }
}