.all{
    height: 100vh;
    width: 100%;
    background-image: url('https://official-document.oss-cn-hangzhou.aliyuncs.com/141b53c86d1f6dc174982e6f122dcbfc.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    .right{
        width: 100%;
    }
}