.navbar {
    width: 100%;
    height: 60px;
    background-color: #fFF;
    display: flex;
    align-items: center;
    padding: 0 8%;
    position: fixed;
    z-index: 4;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    backdrop-filter:saturate(150%) contrast(50%) blur(2px);
    -webkit-backdrop-filter:saturate(150%) contrast(50%) blur(2px);
    background-color:rgba(255,255,255,.5);

    .avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .logoArea {
        font-size: 26px;
        font-weight: bolder;
        margin-right: 30px;
        height: 100%;
        display: flex;
        align-items: center;
        margin-left: 8px;
        color: #fb7299;
    }

    .linkArea {
        height: 100%;
        display: flex;

        .item{
            font-weight: bold;
            font-size: 16px;
        }
        .item:hover{
            color: #fb7299;
            font-weight: bold;
        }

        div {
            height: 100%;
            padding: 0 20px;
            font-size: 15px;
            color: #515767;
        }

        .menu{
            color: #ffffff;
        }

        .active {
            font-weight: bold;
            color: #fb7299;
        }

        div:hover>a {
            border-bottom: 2px solid #fb7299;
        }
    }

    .operationArea {
        margin-left: auto;
        display: flex;
        align-items: center;
        .userMenu{
            top: 55px;
            right: 0;
            width: 200px;
            padding: 20px;
            z-index: 8;
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.18);
            backdrop-filter:saturate(150%) contrast(50%) blur(2px);
            -webkit-backdrop-filter:saturate(150%) contrast(50%) blur(2px);
            background-color:rgba(255,255,255,.5);
        }
        button {
            background-color: #fb7299;
            margin-left: 20px;
        }

        .avatar {
            margin-left: 20px;
        }
        .avBorder1{
            border: 1px solid #FFFFFF;
        }
        .avBorder2{
            border: 2px solid #FFFFFF;
        }
        .formItem{
            margin-bottom: 0;
            .btn{
                width: 100%;
                height: 34px;
                border-radius: 44px;
                background: #fb7299;
                border-color: #fff;
                margin-left: 0;
            }
            .tabBtn{
                width: auto;
                padding: 0 20px;
                box-shadow: 0 2px 2px #fb729966;
            }

            .btn:hover{
                color: #fb7299 !important;
                background: #fff;
                border-color: #fb7299;
            }
        }
        .menuItem{
            width: 150px;
        }
    }
}
