.addMark {
    width: 240px;
    height: 128px;
    border: 2px solid #eeeeee;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0 5px 5px rgba(200, 200, 200);
    background-image: url('https://gaojianghua.oss-cn-hangzhou.aliyuncs.com/home/bcg.jpg');
    background-size: cover;

    .addMarkCont {
        width: 100%;
        height: 100%;
        backdrop-filter: saturate(150%) contrast(70%) blur(1px);
        -webkit-backdrop-filter: saturate(150%) contrast(70%) blur(1px);
        background-color: rgba(255, 255, 255, .5);

        .addMarkIcon {
            font-size: 50px;
            color: #11111199;
        }

        .text {
            color: #111;
            text-shadow:
                0px 1px 0px #c0c0c0,
                0px 2px 0px #b0b0b0,
                0px 3px 0px #a0a0a0,
                0px 4px 0px #909090,
                0px 5px 10px rgba(0, 0, 0, 0.6);
        }
    }
}

.custom404 {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-image: url('https://gaojianghua.oss-cn-hangzhou.aliyuncs.com/home/404.gif');
    background-size: 100% 100%;

    .child {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        backdrop-filter: saturate(150%) contrast(50%) blur(2px);
        -webkit-backdrop-filter: saturate(150%) contrast(50%) blur(2px);
        background-color: rgba(255, 255, 255, .2);
    }
}

.addMark:hover {
    position: relative;

    & .addMarkCont {
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
        background-color: transparent;
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        border: 2px solid #fb7299;
        transition: all .6s;
        animation: clippath 6s infinite linear;
        border-radius: 5px;
    }

    &::after {
        animation: clippath 6s infinite -3s linear;
    }


    @keyframes clippath {

        0%,
        100% {
            clip-path: inset(95% 0 0 0);
        }

        25% {
            clip-path: inset(0 95% 0 0);
        }

        50% {
            clip-path: inset(0 0 95% 0);
        }

        75% {
            clip-path: inset(0 0 0 95%);
        }
    }
}