.type {
    width: 350px;
    padding: 24px;
    position: relative;
    z-index: 99;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    backdrop-filter:saturate(150%) contrast(50%) blur(2px);
    -webkit-backdrop-filter:saturate(150%) contrast(50%) blur(2px);
    background-color:rgba(255, 255, 255,.4);
    :global(.ant-radio-checked .ant-radio-inner ) {
        border-color: #fb7299 !important;
    }
    :global(.ant-radio-inner::after) {
        background-color: #fb7299 !important;
    }
    :global(.ant-radio-checked::after) {
        border-color: #fb7299 !important;
    }
    .avatar {
        position: absolute;
        top: -96px;
        left: 50%;
        z-index: 9;
        transform: translateX(-50%);
        width: 120px;
        height: 120px;
        padding: 5px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        border-radius: 50%;
        background: linear-gradient(180deg, #B3B9BA 0%, #DFDEDE 21%, #DAD9D8 67%, #fb7299 100%);
        box-shadow: 0px 5px 2px rgba(251, 114, 153, 0.3);
    }

    .title{
        .titleText{
            color: #fff;
            font-weight: bold;
            font-size: 20px;
        }
        svg{
            color: #fff;
            font-size: 24px;
        }
    }
    .formItem{
        height: 40px;
        margin-bottom: 12px;

        .group{
            position: relative;
        }
        :global(#mark_type),
        :global(.ant-select-selection-placeholder),
        :global(.ant-select-selector),
        :global(.ant-select-selection-item){
            height: 36px;
            line-height: 36px;
            font-weight: 650;
        }
        .input{
            background: #FFFFFF55;
            border-radius: 44px;
            height: 40px;
            line-height: 40px;
            padding: 0 16px;
            caret-color: #fb7299;
            color: #fb7299;
            font-size: 16px;
            font-weight: bold;
            border: 1px solid #d9d9d9;
            .icon{
                font-size: 14px;
            }
            :global(.ant-select-selection-placeholder){
                color: #9b9b9b;
                font-size: 15px;
                font-weight: 500;
            }

            :global(.ant-select-selector){
                padding:  0 16px;
            }
        }
        .select{
            padding: 0;
        }
        .input::placeholder{
            color: #11111145;
            font-size: 15px;
            font-weight: bold;
        }
        .btn{
            position: absolute;
            top: 3px;
            right: 3px;
            z-index: 999;
            height: 34px;
            border-radius: 44px;
            background: #fb7299;
            border-color: #fff;
        }
        :global(.ant-select-selector){
            padding: 0;
        }
        .input:hover, .input:focus{
            background: #FFFFFF;
            border: 1px solid #fb7299 !important;
            box-shadow: 0px 2px 2px #fb729966 !important;
            transition: all 0.3s ;
        }

        .btn:hover{
            color: #fb7299 !important;
            background: #fff;
            border-color: #fb7299;
        }

        .loginBtn{
            top: 0px;
            right: 0px;
            width: 100%;
            height: 40px;
            box-shadow: 0px 2px 2px #fb729966;
        }
    }
    .agreement{
        color: #767676;
        .agreChild{
            color: #fb7299 !important;
        }
        .agreChild:hover{
            color: #fff !important;
        }
    }
}


